@import "../../../variables";

.container {
    padding: 0 60px;
    padding-top: 20px;
    background-color: #000;
    height: 250px;
}

.heading {
    font-size: 1.4rem;
    color: $heading;
}

.popular {
    display: flex;
    align-items: center;
    overflow: scroll;
    height: 250px;
}
