@import "../../../../variables";

.container {
    padding: 30px 60px;
    display: flex;
    background-color: #000;
}

.itemBox {
    display: flex;
    overflow: scroll;
}

.item {
    width: 25%;
    padding: 10px;
    list-style: none;
}

.poster {
    width: 100%;
    border-radius: 3px;
    transition: all 0.2s;
    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 710px) {
    .container {
        padding: 30px;
    }

    .itemBox {
        min-height: 70vw;
        overflow: unset;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .item {
        width: 40%;
        padding: 10px;
    }
}
