@import "../../../../variables";

.container {
    padding: 60px;
    padding-top: 20px;
    background-color: #000;
    height: 250px;
}

.heading {
    font-size: 1.4rem;
    color: $heading;
}

.nowPlaying {
    display: flex;
    align-items: center;
    overflow: scroll;
    height: 250px;
}

@media only screen and (max-width: 1000px) {
    .container {
        padding: 30px;
    }
}
