@import "../../../../variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.email,
.password,
.confirmPassword {
    background-color: $signup-form-input;
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 280px;
    margin-top: 10px;
    padding: 0 20px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-size: 0.8rem;
    }
}

.signup {
    margin-top: 30px;
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 320px;
    background-color: $netflix-logo;
    &:hover {
        cursor: pointer;
    }
}
// @media only screen and (max-width: 710px) {
//     .email,
//     .password,
//     .confirmPassword {
//         width: 100%;
//     }

//     .signup {
//         width: 100%;
//     }
// }
