.container {
    border: solid 2px rgba(84, 84, 84, 0.379);
    background-color: #000;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    list-style: none;
    font-weight: 300;
}