@import "../../../variables";

.container {
    height: 20vh;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0 60px;
}

.link {
    color: $list;
    border: solid 1px $list;
    padding: 5px 20px;
    transition: all 0.2s;
    &:hover {
        cursor: pointer;
        color: #fff;
        border-color: #fff;
    }
}
