.genreContainer {
    display: none;
}

.navigation {
    height: 100%;
    display: flex;
}

.lists {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.list {
    font-weight: 300;
    color: rgb(150, 150, 150);
    margin-left: 20px;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        color: #fff;
    }
    &.active {
        color: #fff;
    }
}

@media only screen and (max-width: 900px) {
    .navigation {
        position: relative;
    }

    .genreContainer {
        display: flex;
        align-items: center;
        margin-left: 20px;
        cursor: pointer;
        height: 100%;
    }

    .genreHeading {
        font-size: 0.8rem;
    }

    .lists {
        display: none;
        position: relative;
        &.isActive {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 300px;
            width: 300%;
            background-color: rgb(14, 14, 14);
            border-top: solid 2px rgb(225, 224, 224);
            position: absolute;
            top: 60px;
            left: 0;
        }
        &:after {
            position: absolute;
            content: '';
            // display: inline-block;
            top: -12px;
            left: 30px;
            width: 0;
            height: 0;
            border-width: 10px 10px 0 10px;
            border-style: solid;
            border-color: rgb(225, 224, 224) transparent transparent transparent;
            transform: scale(1, -1);
        }
    }

    .caretDown {
        font-size: 1.2rem;
        margin-left: 10px;
        transition: all 0.2s;
        &:active {
            transform: scale(0.8);
        }
    }
}

@media only screen and (max-width: 545px) {
    .genreContainer {
        display: none;
    }
    .lists {
        display: flex;
    }
    .active {
        display: none;
    }
    .list {
        font-size: 1rem;
        color: #fff;
    }
    .newAndPopular {
        display: none;
    }
}