@import "../../../variables";

.container {
    padding: 30px 60px;
    display: flex;
    background-color: #000;
}

.itemBox {
    height: 650px;
    display: flex;
    overflow: scroll;
}

.item {
    height: 600px;
    padding: 10px;
    list-style: none;
}

.poster {
    height: 100%;
    border-radius: 3px;
    &:hover {
        cursor: pointer;
    }
}
