.container {
    display: flex;
    height: 30px;
    width: 230px;
    justify-content: space-between;
    border: solid 1px #fff;
    background-color: transparent;
    padding: 0 0 0 10px;
}

.inputText {
    width: 100%;
    background-color: transparent;
    border: none;
    &:focus {
        outline: none;
    }
}

.searchButton {
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2s;
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: scale(0.8); 
    }
    &:focus {
        outline: none;
    }
}

// @media only screen and (max-width: 900px) {
//     .container {
//         padding: 5px 0 5px 10px;
//     }
//     .searchButton {
//         margin-left: 5px;
//         margin-right: 5px;
//         padding: 0px;
//     }
// }
