.container {
    display: flex;
    width: 30%;
    height: 50%;
    border: solid 1px #fff;
    background-color: transparent;
    padding: 0 0 0 10px;
}

.inputText {
    width: 100%;
    background-color: transparent;
    border: none;
    &:focus {
        outline: none;
    }
}

.searchButton {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    padding: 5px;
    transition: 0.1s;
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: scale(0.8); 
    }
    &:focus {
        outline: none;
    }
}

.magnifyingGlass {
    height: 100%;
}

@media only screen and (max-width: 884px) {
    .container {
        padding: 5px 0 5px 10px;
    }
    .searchButton {
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px;
    }
}
