.container {
    position: relative;
    min-height: 80vh;
    padding: 60px;
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.posterBox {
    width: 340px;
}

.poster {
    width: 100%;
    border-radius: 5px;
}

.titleBox {
    width: 50%;
    min-height: 80vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.description {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.information {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 40px;
}

.subHeading {
    font-size: 1rem;
}

.text {
    font-weight: 300;
}

.link {
    font-weight: 300;
    border: none;
}

.goBack {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    background-color: transparent;
    border: solid 1px #fff;
    &:hover {
        cursor: pointer;
    }
}

.goBackImg {
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        padding: 30px;
    }

    .posterBox {
        margin: 40px 0;
    }

    .titleBox {
        width: 100%;
    }

    .title {
        font-size: 2rem;
        text-align: center;
    }

    .subHeading {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .text {
        font-size: 1.2rem;
    }

    .goBack {
        top: 10px;
        right: 10px;
    }

    .link {
        text-align: center;
        width: 100%;
        word-wrap: break-word;
    }
}
