@import "../../variables";

.container {
    height: 10vh;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0 60px;
}

.link {
    text-decoration: none;
    width: 5vw;
    color: $list;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 300;
    border: solid 1px $list;
    padding: 3px 20px;
    transition: all 0.2s;
    &:hover {
        cursor: pointer;
        color: #fff;
        border-color: #fff;
    }
}

@media only screen and (max-width: 710px) {
    .container {
        height: 30vh;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .link {
        width: 10vw;
        font-size: 2vw;
        font-weight: 400;
    }
}