$signup-content-background: rgba(0, 0, 0, 0.817);
$signup-form-input: rgb(50, 50, 50);
$netflix-logo: #e50914;
$signup-text: rgb(77, 77, 77);

$navigation-text: grey;
$accountButton: rgb(116, 116, 116);

/* Footer */
$netflix-logo: #d81f26;

/* main */
$background: rgb(40, 40, 40);
/* popular */
$heading: #e5e5e5;

/* search */
$error: rgb(162, 162, 162);
/* Footer */
$list: rgb(114, 114, 114);
