.item {
    list-style: none;
    margin-right: 5px;
    margin-bottom: 40px;
    transition: all 0.2s;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.poster {
    border-radius: 3px;
    height: 300px;
}
